{% extends 'BoilerPlate.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="static/medicine.jpg" class="d-block w-100" alt="medicine">
    </div>
    
  </div>
</div>
<div class="card bg-dark text-white float-right">
  <img src="https://source.unsplash.com/380x1000/?medical" class="card-img" alt="medical">
    
</div>

<div class="card text-white bg-dark mb-3 float-left" style="max-width: 70rem;">
  <div class="card-header" style="font-size: 40px;">About Us</div>
  <div class="card-body">
    <h5 class="card-title" style="font-size: 30px;">CADUCEUS Medi-Care</h5>
    <ul><li><p class="card-text">CADUCEUS Medical delivers quality care with compassion. We bring world class medical care into
      our patients’ homes and aim to make primary healthcare not only more accessible, but also more affordable and
      accountable to our patients’ needs.</p></li></ul>
    <ul><li><p class="card-text">With CADUCEUS, you can be sure that you will receive hospital-quality healthcare in the comfort
      of your home. We provide doctors, nurses, and physiotherapists for home visits who have passed our rigorous hiring
      standards and have had their backgrounds and medical knowledge verified by senior doctors. We facilitate lab tests
      at home and medical equipment rentals, making health care more accessible for our patients.</p></li></ul>
    <ul><li><p class="card-text">Portea Medical’s clinical procedures were developed in consultation with leading home
      healthcare professionals in the United States, ensuring that you receive only the highest quality medical care;
      all of our doctors are members of international medical accreditation bodies. As a result of using our services,
      our patients are able to stay in their homes longer, save money, and have peace of mind.</p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-left" style="max-width: 70rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">Who Are We?</h5>
    <ul><li><p class="card-text" style="font-size: 20px;">CADUCEUS is a leading in-home-healthcare service provider with services in Bangalore, Mumbai, Chennai, NCR, Pune, Hyderabad, Kolkata, Ahmedabad, Jaipur, Lucknow, Coimbatore, Chandigarh, Visakhapatnam, Goa, Madurai, Cochin, Baroda, Nagpur, Indore, Ludhiana. We are going to be operational in more cities very soon.</p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-left" style="max-width: 70rem;">

  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">Why Join Us</h5>
    <ul><li><p class="card-text" style="font-size: 20px;">Become a part of India’s largest in-home health care provider
      Play an active role in healing India at home
      Learn and grow at the same time
      Ideate and implement at work
      Take your career to the next level
      Empowerment and recognition at regular intervals
      Celebration of special days like Nurses Day, Doctor’s Day etc.
      Celebration of festivals like Diwali, Holi, Eid, Onam etc.</p></li></ul>
  </div>
</div>

{% endblock body %}