{% extends 'BoilerPlate.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}

  <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
  <div class="card-header">About Us</div>
  <div class="card-body">
    <h5 class="card-title">CADUCEUS Medi-Care</h5>
    <p class="card-text">CADUCEUS Medical delivers quality care with compassion. We bring world class medical care into our patients’ homes and aim to make primary healthcare not only more accessible, but also more affordable and accountable to our patients’ needs.</p>
    <p class="card-text">With CADUCEUS, you can be sure that you will receive hospital-quality healthcare in the comfort of your home. We provide doctors, nurses, and physiotherapists for home visits who have passed our rigorous hiring standards and have had their backgrounds and medical knowledge verified by senior doctors. We facilitate lab tests at home and medical equipment rentals, making health care more accessible for our patients.</p>
    <p class="card-text">Portea Medical’s clinical procedures were developed in consultation with leading home healthcare professionals in the United States, ensuring that you receive only the highest quality medical care; all of our doctors are members of international medical accreditation bodies. As a result of using our services, our patients are able to stay in their homes longer, save money, and have peace of mind.</p>
  </div>
</div>
<div class="alert alert-primary" role="alert">
  MEET OUR STAFF!
</div>

   <div class="card-group">
  <div class="card">
    <img src="Doctor2.jpg" class="card-img-top" alt="Doctor2">
    <div class="card-body">
      <h5 class="card-title">Dhruv</h5>
      <p class="card-text"> Dhruv has over two decades of rich experience in Healthcare domain, both in Clinical Practice and Healthcare Management, across sectors – Hospitals, Corporates, Healthcare Start-ups..</p>
      
    </div>
  </div>
  <div class="card">
    <img src="Doctor2.jpg" class="card-img-top" alt="Doctor2">
    <div class="card-body">
      <h5 class="card-title">P.srikrishna</h5>
      <p class="card-text"> P.srikrishna, has over 15 years of experience in the domain of critical care, emergency medicine and home healthcare. Prior to joining Portea, he was associated with Philips home care for over 18 months, as Clinical Head Delhi NCR.</p>
     
    </div>
  </div>
  <div class="card">
    <img src="Doctor2.jpg" class="card-img-top" alt="Doctor2">
    <div class="card-body">
      <h5 class="card-title">Sarvesh</h5>
      <p class="card-text"> Sarvesh has over 10 years of experience in critical are, emergency medicine, palliative care and home healthcare. He worked with Philips homecare as Clinical Head, Mumbai Region for over an year, before joining CADUCEUS..</p>
      
    </div>
  </div>
</div>

{% endblock body %}