{% extends 'BoilerPlate.html' %}
{% block title %}
Elder-Care
{% endblock title %}


{% block body %}


<div class="card bg-dark text-white">
  <img src="/static/ElderCare.jpg" class="card-img" alt="eldercare">
  <div class="card-img-overlay">
    <h5 class="card-title text-white" style="font-size:40px">Elder Care</h5>
    <p class="card-text">Worried about the medical needs of your parents back home? Avail the Care Plan package from
      CADUCEUS to ease the worries. To book a Care Plan , begin here</p>

  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Is Elder Care</div>
  <div class="card-body">

   <ul><li> <p class="card-text" style="font-size: 20px;">Elder care, also referred to as senior care, is a special care service designed to meet the
      varied needs and requirements of senior citizens. Elder care is a vast field and includes varied services like
      assisted living, nursing care, adult day care and home care. Although old age itself is no reason to consider
      Elder care, it is the varied physical disabilities and diseases that lead a person to contemplate on availing
      elder care services. A large number of senior citizens still live with their family and their care is jointly
      undertaken by family members. However, in today’s situation there are cases when most family members work and are
      unable to give proper attention and care to their ailing seniors and as such seek for reliable and efficient elder
      care programs.

      CADUCEUS brings to you a comprehensive healthcare solution for all ageing needs. Our Care Plans are specially
      crafted in catering to individual healthcare needs. With a dedicated Health Manager assigned, who ensures all your
      healthcare needs are taken care of, be rest assured. Through this plan, we also assist you with services such as
      Doctor Visits, Diagnostic Services, Nurse, Trained Attendants, Pharmacy, Equipment, Physiotherapy and Nutrition.

    </p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-right" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">CADUCEUS Health Prime</div>
  <div class="card-body">

    <ul><li><p class="card-text" style="font-size: 20px;">CADUCEUS Health Prime is an annual Healthcare plan, in which every enrolled customer gets a
      dedicated Health Manager. The Health Manager will take care of all health requirements for the customer, such as
      Doctor visits, specialist consultations, lab test and such.</p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 " style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">Healthcare Plan Include</div>
  <div class="card-body">
    <h1 style="font-size: 35px;">Free Medical Assessment</h1>
    <ul><li><p class="card-text">A comprehensive lab test followed by a home visit by a senior Doctor, who will do a complete
      check-up of the patient.</p></li><ul>
    <h2 style="font-size: 35;">Health Manager</h2>
    <ul><li><p class="card-text" style="font-size: 20px;">24X7 dedicated trained manager, who will coordinate with the treating Doctor, and will take of
      any health need of the patient.</p></li><pl>
    <h3 style="font-size: 35px;">Personalised Plan</h3>
   <ul><li> <p class="card-text" style="font-size: 20px;">Depending on patients’ needs and Doctor recommendations, a complete annual healthcare plan will
      be made for each patient, that will include services such as:<br>

      Physiotherapy at Home<br>
      Doctor Home Visits<br>
      Lab Test<br>
      Eye Check-up<br>
      Dental Care<br>
      Complete Bone Assessment<br>
      Specialist Consultations and Much More<br></p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  
  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">Importance Of Elderly Care</h5>
    <ul><li><p class="card-text" style="font-size: 20px;">Getting old could be a difficult experience when your health starts to deteriorate and you get increasingly dependent on others for your daily activities. It is at this time that the elderly require the most care and compassion. The importance of a proper elderly care can never be overstated as they too deserve dignity of life. Although modern constraints of life do not always allow people to take care of their elderly however, they can always opt for appropriate elderly home health care service for the smooth functioning of their life.</p></li><ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  
  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">When Is Elder Care Needed?</h5>
   <ul><li> <p class="card-text" style="font-size: 20px;">Elder care becomes necessary when old people start facing troubles with daily life activities like cooking, cleaning, bathing, taking medicines etc, and there is no family member available to look over them. Varied diseases and physical disabilities in old people also make elder care mandatory for them, so that they too can live independently and with dignity.

    The type of geriatric care needed depends on the health condition of the old person and the severity of the problem and the type of care needed. Most people don’t require full time nurses, while there are a few who needed a 24/7 caregiver owing to the severity of their problem.</p></li></ul>
  </div>
</div>
<div class="card bg-dark text-white">
  <div class="card bg-dark text-white">
    <img src="https://4.s.portea.com/wp-content/uploads/2016/02/Portea-Elder-Care-at-Home-Plans.jpg" class="card-img" alt="medical">
      
  </div> 
    
</div>
{% endblock body %}