{% extends 'BoilerPlate.html' %}
{% block title %}
Counselling
{% endblock title %}
{% block body %}

<div class="card bg-dark text-white">
  <img src="/static/Counseling.jpg" class="card-img" alt="counseling">
  <div class="card-img-overlay">
    <h5 class="card-title" style="font-size: 40px">Counseling</h5>
    <p class="card-text">Up until the 20th century a lot of stigma was attached with mental health and counseling, but
      with the progression of society, people have started realizing the importance of mental well being and the need
      for counseling. Now we can easily find many forums and good counseling services easily available. <br>CADUCEUS for
      one offers a highly appreciated counseling service that has brought respite to many disturbed individuals. Before
      we proceed into learning how counseling helps, it is essential to learn what exactly is counseling.</p>

  </div>
</div>

<div class="card text-center bg-success mb-3">
  <div class="card-header" style="font-size: 40px">
    What Is Counseling?
  </div>
  <div class="card-body">

    <p class="card-text">Generally speaking, counseling falls in the ambit of “Talking therapy” that allows and
      encourages people to speak out about their feelings and concerns in a private and confidential environment.

      The counselor provides the person with the much needed space where the person can be themselves and speak out
      without having to sound correct, just open up about how they actually feel, without the fear of being judged or
      criticized and also without any unsolicited advice.

      This luxury of being able to speak out without any restrictions or having to conform to any norms has been found
      to be quite beneficial to a lot many individuals.

      After thoroughly understanding the person’s situation, the counselor advises him in a way that improves his
      situation.

      With the advent of technology you can easily avail of in home counseling services that too staying anonymously if
      you don’t wish to reveal yourself.

      At CADUCEUS our well trained and empathetic counselors provide anonymous support therapy through Audio and Video
      calls and at home counseling sessions also.

      Although we don’t believe that there is any shame in seeking counseling help, we do respect our client’s wishes
      and strictly adhere to it.</p>

  </div>

  <div class="card text-center bg-danger mb-3">
    <div class="card-header" style="font-size: 40px">
      Do We Really Need Counseling?
    </div>
    <div class="card-body">

      <p class="card-text">Counseling today plays a very significant role in the well being of an individual. We often
        hear of people ending their life, just because they couldn’t deal with their stress and frustration.

        It is important to know that we can approach someone and completely open up to them with complete
        confidentiality.

        Quite often people brush away the suggestion of seeing a counselor, as they believe that counseling is only for
        crisis situation, but they don’t realize that counseling can help with something as simple as reaching a goal.

        A counselor offers a helping hand to people who come to them irrespective of their needs and drag them out of
        their mental rut.

        Moreover it is better to seek help rather than keep quiet and suffer.

        You can always choose to stop the counseling after you feel you are fine and have made recovery.

        There is no compulsion to continue with the session if you find yourself mentally fit to lead a happy and stress
        free life.</p>

    </div>

    {% endblock body %}