{% extends 'BoilerPlate.html' %}
{% block title %}
Nursing
{% endblock title %}
{% block body %}

<div class="card bg-success text-white">
  <img src="/static/Nursing.jpg" class="card-img" alt="nursing">
  <div class="card-img-overlay">
    <h5 class="card-title " style="color: green">Home Nursing</h5>
    <p class="card-text" style="color: green">Looking for post-surgical care, Elderly care, Urinary catheterization
      care, Wound care, Injections, IV infusions, Vaccination or other nursing assistance for Cancer treatment? Get all
      of this, and more in the comfort of your home by highly qualified and experienced nurses. To bring an experienced
      nurse home, fill the form now.</p>

  </div>
</div>
<div class="card text-white bg-dark mb-3 float-right" style="max-width: 70rem;">
  <div class="card-header" style="font-size: 40px">What Home Nursing Care Means?</div>
  <div class="card-body">

    <ul><li><p class="card-text" style="font-size: 20px;">Home nursing services encompasses a wide range of healthcare services that can be easily
      administered at your home. Home care nursing services are usually cheaper than hospitals and nursing homes, while
      being just as effective as the medical care offered in a hospital or nursing home.

      An in-home nursing service offers personalized nursing care at home as offered in a typical hospital while being
      more compassionate towards the patient and gets integrated into the patient’s family and develops an emotional
      bond with the patient and their family.

      The services offered by home care nursing are provided by registered nurses, physiotherapists and occupational
      therapists among others. And as such you need not worry on the quality of service offered by the home nurse.

      In the past, the phrases In-Home Care, Home Care and Home Health Care were used interchangeably. Today however,
      people have developed a better understanding towards Home Health Care or In-Home nursing service which is
      basically skilled nursing care whereas the term In-Home Care refers to non-medical care services like personal
      care and companionship and supervision.</p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-right" style="max-width: 70rem;">
  <div class="card-header" style="font-size: 40px">When Do You Need Us?</div>
  <div class="card-body">

    <h1 style="font-size: 30px;">Vaccination</h1>
    <ul><li><p class="card-text" style="font-size: 20px;">Get vaccinated at home and stay safe from infectious diseases. We provide vaccination for H1N1,
      Typhoid, Pneumonia, Hepatitis and more by qualified nurses at home.</p></li></ul>
    <h2 style="font-size: 30px;">Post Surgical Care</h2>
    <ul><li><p class="card-text" style="font-size: 20px;">Post-surgical care is critical, and includes everything from pain management & feeding to
      respiratory management & fluid management. Get well sooner under the care of our nurses, who will help you with
      all of this in the comfort of your home.</p></li></ul>
    <h3 style="font-size: 30px;">Urinary Catheterisation</h3>
    <ul><li><p class="card-text" style="font-size: 20px;">Our nurses are well trained and can help you with the process of Urine catheterization care at
      your home; be it catheter insertion, catheter removal or bladder wash.</p></li></ul>
    <h4 style="font-size: 30px;">Wound Dressing</h4>
    <ul><li><p class="card-text" style="font-size: 20px;">Did you know that the healing process varies depending on the wound type? Our nurses are
      experienced in handling varied types of wounds-post-operation surgical wounds, infected wounds and pressure sores
      and will accordingly provide appropriate wound care for a faster recovery.</p></li></ul>
    <h5 style="font-size: 30px;">Oxygen Administration</h5>
    <ul><li><p class="card-text" style="font-size: 20px;">Oxygen administration is required in both acute and chronic conditions like trauma, haemorrhage, shock, breathlessness, pulmonary disease, and more. Don’t panic if you require one. Call a Portea nurse home and sit back, while she does the needful.</p></li></ul>
    <h6 style="font-size: 30px;">Injection</h6>
    <ul><li><p class="card-text" style="font-size: 20px;">Save yourself the trouble of travel and long hospital hour for a minor process like injection administration or IV infusion. Just book with us a home nurse and an experienced and registered nurse will come visit you at home to administer the required injection or IV infusion.</p></li></ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-right" style="max-width: 70rem;">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">What Are The Benefits Of Home Nursing Care?</h5>
   <ul><li> <p class="card-text" style="font-size: 20px;">The benefit of home health care is plenty. Besides being convenient than getting admitted in a hospital or nursing home, the nursing care at home also helps a patient recover sooner, as it has been found that people tend to recover sooner from their illness or ailments when surrounded by their loved ones.<br>

    It also supports diet and nutrition. Home health care nurses can be there to support the patient in your absence.<br>
    It brings skilled nursing care in the comfort of your home.<br>
    Nursing care at home also helps in managing chronic health conditions to avoid unnecessary hospitalization.<br>
    Home care nursing services also help in providing recovery care at home following a hospital stay for illness or injury.<br>
    It offers one – on – one focus and support.<br>
    Clients have better health outcomes.<br>
    It offers medication management.<br></p></li><ul>
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-right" style="max-width: 70rem;">

  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">How Much Does Nursi</h5>
   <ul><li> <p class="card-text" style="font-size: 20px;"></p></li></ul>
  </div>
</div>
{% endblock body %}