{% extends 'BoilerPlate.html' %}
{% block title %}
COVID
{% endblock title %}
{% block body %}

    <div class="card mb-3">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/COVID.jpg" class="d-block w-100" alt="covid">
    </div>

  </div>
</div>
  
  <div class="card-group">
  <div class="card">
    <img src="COVID-Home-Isolationr.png" class="card-img-top" alt="COVID-Home-Isolationr">
    <div class="card-body">
      <h5 class="card-title">Home Isolation-Management</h5>
      
      
    </div>
  </div>
  <div class="card">
    <img src="/static/COVID-ARMOUR.png" class="card-img-top" alt="COVID-ARMOUR">
    <div class="card-body">
      <h5 class="card-title">COVID Armour</h5>
      
    </div>
  </div>
  <div class="card">
    <img src="/static/COVID-TEST.png" class="card-img-top" alt="COVID-TEST">
    <div class="card-body">
      <h5 class="card-title">COVID TESTING</h5>
     
    </div>
  </div>
</div>
<div class="card border-success" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What is Coronavirus?</div>
  <div class="card-body text-success">
    
    <p class="card-text">Coronaviruses are a group of viruses or family of viruses that range from the common cold to MERS (Middle East Respiratory Syndrome coronavirus) and SARs (Severe acute respiratory syndrome coronavirus).<br> Coronaviruses circulate in animals and few of them have the capability of transmitting between animals and humans.<br></p>
  </div> 

  <div class="card border-success" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What is Coronavirus,COVID-19</div>
  <div class="card-body text-success">
    
    <p class="card-text">Coronavirus disease 2019 (COVID-19) is an infectious disease which is caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).<br> It is a virus closely linked to the SARS virus.<br> It was earlier known by the provisional name 2019 novel coronavirus (2019-nCoV). The disease was first reported in Wuhan, China.<br></p>
  </div> 

   <div class="card border-success" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">Epidemiology</div>
  <div class="card-body text-success">
    
    <p class="card-text">During December 2019, the health authorities in Wuhan, Hubei Province, China observed a cluster of pneumonia cases of unknown cause.<br> The first few cases had connects  to the Huanan Seafood Wholesale Market and therefore, the virus is thought to be of zoonotic origin, The new virus that has caused the outbreak is known as SARS-CoV-2.<br> It is believed to be closely related to bat coronaviruses, pangolin coronaviruses, and SARS-CoV.<br> </p>
  </div> 

{% endblock body %}