{% extends 'BoilerPlate.html' %}
{% block title %}
Consultation
{% endblock title %}
{% block body %}


<div class="card bg-dark text-white">
  <img src="/static/Consultation.jpeg" class="card-img" alt="consultation" style="filter: Brightness(0.5)">
  <div class="card-img-overlay">
    <h5 class="card-title" style="font-size: 40px">Doctor Consultations</h5>
    <p class="card-text">Why wait to see a doctor, when there’s a doctor waiting to see you? The next time you or a
      loved one needs to consult with a doctor, have the doctor visit you. At home. At your convenience. To book an
      appointment with a doctor, begin here.</p>

  </div>
</div>

<div class="card text-white bg-success mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Is An In-Home Service?</div>
  <div class="card-body">
    <p class="card-text">Every once in a while, you’re bound to need to consult with a doctor for general health
      check-up, seasonal fever, acute diseases, chronic illness, and more. It many situations, we are physically weak
      and prefer to stay at home and even a visit to a doctor seems an uphill task. If given an option we would rather
      prefer a doctor to give us a visit, rather than we having to visit him personally.

      To fill this void, CADUCEUS has begun to provide healthcare service at home and that too at reasonable costs
      compared to traditional hospitals and nursing homes. The home visit doctors are qualified professionals and
      provide consultation to treatment and help you throughout your recovery process. The best part about in-home
      doctor service is you will be treated in the comfort of your home, surrounded by your family members.</p>
  </div>
</div>

<div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">When Do You Need Us</div>
  <div class="card-body">
    <h1>General Checkup</h1>
    <p class="card-text">It’s a good practice to keep a check on your health. Regular health check-ups are essential for
      children and the elderly. Call a Portea doctor home and stay rest assured about your family’s health.</p>
    <h2>Diabetic Care</h2>
    <p class="card-text">A Diabetic patient requires regular monitoring of blood pressure and blood sugar levels. Apart
      from that, a doctor’s consultation is also a must once every three months. So skip the arduous travel and waiting
      period at the Doctor’s clinic and just book with us a doctor’s appointment. A well experienced doctor will guide
      you through your diet and proper medication.</p>
    <h3>Ortho Care</h3>
    <p class="card-text">A Doctor’s home visit service is very useful for people ailing of orthopedic conditions like
      fractures, joint replacements, spinal deformities, arthritis etc. Many of these patients are unable to move
      properly and not able to get out of their home and lead a restrictive life. Use the Portea app or website to book
      an appointment and allow us to send one of the best doctors to help you get rid of your pain with a range of
      home-based health care services.</p>
      

  </div>
</div>
{% endblock body %}