{% extends 'BoilerPlate.html' %}
{% block title %}
Nursing
{% endblock title %}
{% block body %}

    <div class="card bg-success text-white">
  <img src="/static/Nursing.jpg" class="card-img" alt="nursing">
  <div class="card-img-overlay">
    <h5 class="card-title " style="color: green">Home Nursing</h5>
    <p class="card-text" style="color: green">Looking for post-surgical care, Elderly care, Urinary catheterization care, Wound care, Injections, IV infusions, Vaccination or other nursing assistance for Cancer treatment? Get all of this, and more in the comfort of your home by highly qualified and experienced nurses. To bring an experienced nurse home, fill the form now.</p>
    
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Home Nursing Care Means?</div>
  <div class="card-body">
    
    <p class="card-text">Home nursing services encompasses a wide range of healthcare services that can be easily administered at your home. Home care nursing services are usually cheaper than hospitals and nursing homes, while being just as effective as the medical care offered in a hospital or nursing home.

An in-home nursing service offers personalized nursing care at home as offered in a typical hospital while being more compassionate towards the patient and gets integrated into the patient’s family and develops an emotional bond with the patient and their family.

The services offered by home care nursing are provided by registered nurses, physiotherapists and occupational therapists among others. And as such you need not worry on the quality of service offered by the home nurse.

In the past, the phrases In-Home Care, Home Care and Home Health Care were used interchangeably. Today however, people have developed a better understanding towards Home Health Care or In-Home nursing service which is basically skilled nursing care whereas the term In-Home Care refers to non-medical care services like personal care and companionship and supervision.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">When Do You Need Us?</div>
  <div class="card-body">
    
    <h1>Vaccination</h1>
    <p class="card-text">Get vaccinated at home and stay safe from infectious diseases. We provide vaccination for H1N1, Typhoid, Pneumonia, Hepatitis and more by qualified nurses at home.</p>
    <h2>Post Surgical Care</h2>
    <p class="card-text">Post-surgical care is critical, and includes everything from pain management & feeding to respiratory management & fluid management. Get well sooner under the care of our nurses, who will help you with all of this in the comfort of your home.</p>
    <h3>Urinary Catheterisation</h3>
    <p class="card-text">Our nurses are well trained and can help you with the process of Urine catheterization care at your home; be it catheter insertion, catheter removal or bladder wash.</p>
    <h4>Wound Dressing</h4>
    <p class="card-text">Did you know that the healing process varies depending on the wound type? Our nurses are experienced in handling varied types of wounds-post-operation surgical wounds, infected wounds and pressure sores and will accordingly provide appropriate wound care for a faster recovery.</p>
  </div>
</div>
{% endblock body %}