{% extends 'BoilerPlate.html' %}
{% block title %}
COVID
{% endblock title %}
{% block body %}

<div class="card mb-3">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/COVID.jpg" class="d-block w-100" alt="covid">
      </div>

    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="/static/COVID-Home-Isolationr.png" class="card-img-top" alt="COVID-Home-Isolationr" height="485">
      <div class="card-body">
        <h5 class="card-title">Home Isolation-Management</h5>


      </div>
    </div>
    <div class="card">
      <img src="/static/COVID-ARMOUR.png" class="card-img-top" alt="COVID-ARMOUR">
      <div class="card-body">
        <h5 class="card-title">COVID Armour</h5>

      </div>
    </div>
    <div class="card">
      <img src="/static/COVID-TEST.png" class="card-img-top" alt="COVID-TEST" height="480">
      <div class="card-body">
        <h5 class="card-title">COVID TESTING</h5>

      </div>
    </div>
  </div>
  <div class="card border-dark" style="max-width: 100rem;">
    <div class="card-header" style="font-size: 40px">What is Coronavirus?</div>
    <div class="card-body text-dark">

      <ul><li><p class="card-text" style="font-size: 20px;">Coronaviruses are a group of viruses or family of viruses that range from the common cold to
        MERS (Middle East Respiratory Syndrome coronavirus) and SARs (Severe acute respiratory syndrome
        coronavirus).<br> Coronaviruses circulate in animals and few of them have the capability of transmitting between
        animals and humans.<br></p></li><ul>
    </div>

    <div class="card border-dark" style="max-width: 100rem;">
      <div class="card-header" style="font-size: 40px">What is Coronavirus,COVID-19</div>
      <div class="card-body text-dark">

        <ul><li><p class="card-text" style="font-size: 20px;">Coronavirus disease 2019 (COVID-19) is an infectious disease which is caused by severe
          acute respiratory syndrome coronavirus 2 (SARS-CoV-2).<br> It is a virus closely linked to the SARS virus.<br>
          It was earlier known by the provisional name 2019 novel coronavirus (2019-nCoV). The disease was first
          reported in Wuhan, China.<br></p></li></ul>
      </div>

      <div class="card border-dark" style="max-width: 100rem;">
        <div class="card-header" style="font-size: 40px">Epidemiology</div>
        <div class="card-body text-dark">

          <ul><li><p class="card-text" style="font-size: 20px;">During December 2019, the health authorities in Wuhan, Hubei Province, China observed a
            cluster of pneumonia cases of unknown cause.<br> The first few cases had connects to the Huanan Seafood
            Wholesale Market and therefore, the virus is thought to be of zoonotic origin, The new virus that has caused
            the outbreak is known as SARS-CoV-2.<br> It is believed to be closely related to bat coronaviruses, pangolin
            coronaviruses, and SARS-CoV.<br> </p></li></ul>
        </div>
        <div class="card bg-light mb-3" style="max-width: 100rem;">
          
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px;">How Does Covid-19 Spread</h5>
            <ul><li><p class="card-text" style="font-size: 20px;">The virus is believed to spread mainly from one person to another. It generally spreads between people who are in close contact (6 feet or lesser) with each other. When the infected person sneezes, the respiratory droplets produced enter the mouths or noses of nearby people and can get inhaled into the lungs.

              People who are at the sickest level (most symptomatic level) are thought to be most contagious.
              
              Although it may also be possible for people to be contagious before they show any symptoms.It may also be possible that a person can get COVID-19 if he/she touches a contaminated surface or object that has the virus on it and then touches their own nose,  mouth or eyes. Although this is not thought to be the main way the virus spreads.</p></li></ul>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 100rem;">
          
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px;">Diagnosis of Covid-19</h5>
            <ul><li><p class="card-text" style="font-size: 20px;">Infection by the Coronavirus can be diagnosed provisionally on the basis of patient symptoms, history of travel, contact with infected patients and diagnostic imaging. The confirmation for COVID-19 is finally done by reverse transcription polymerase chain reaction (rRT-PCR) of infected secretions.</p></li></ul>
          </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 100rem;">
          
          <div class="card-body">
            <h5 class="card-title" style="font-size: 40px;">Symptoms And Prevention Of COVID-19</h5>
            <ul><li><p class="card-text" style="font-size: 20px;">Reported illnesses from COVID-19 have ranged from mild symptoms to critical illness which may include life threatening consequences.

              After exposure, the following symptoms may appear after 2 to 14 days. 
              
              The affected people are most likely to develop a fever and dry cough
              Other symptoms include fatigue and shortness of breath
              Some less common symptoms are headache, sputum production, muscle pain, and sore throat
              Most cases result in mild symptoms but some may lead to pneumonia and multi-organ failure. The fatality rate of COVID-19 is estimated at between 1% and 5%  worldwide and is highly dependent on the age of the patient. Average death for patients over 80 years old is 15% or more worldwide.</p></li></ul>
          </div>
        </div>
        {% endblock body %}