{% extends 'BoilerPlate.html' %}
{% block title %}
Elder-Care
{% endblock title %}


{% block body %}

    
    <div class="card bg-success text-white">
  <img src="ElderCare.jpg" class="card-img" alt="eldercare">
  <div class="card-img-overlay">
    <h5 class="card-title text-white" style="font-size:40px">Elder Care</h5>
    <p class="card-text">Worried about the medical needs of your parents back home? Avail the Care Plan package from CADUCEUS to ease the worries. To book a Care Plan , begin here</p>
    
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Is Elder Care</div>
  <div class="card-body">
    
    <p class="card-text">Elder care, also referred to as senior care, is a special care service designed to meet the varied needs and requirements of senior citizens. Elder care is a vast field and includes varied services like assisted living, nursing care, adult day care and home care. Although old age itself is no reason to consider Elder care, it is the varied physical disabilities and diseases that lead a person to contemplate on availing elder care services. A large number of senior citizens still live with their family and their care is jointly undertaken by family members. However, in today’s situation there are cases when most family members work and are unable to give proper attention and care to their ailing seniors and as such seek for reliable and efficient elder care programs.

CADUCEUS brings to you a comprehensive healthcare solution for all ageing needs. Our Care Plans are specially crafted in catering to individual healthcare needs. With a dedicated Health Manager assigned, who ensures all your healthcare needs are taken care of, be rest assured. Through this plan, we also assist you with services such as Doctor Visits, Diagnostic Services, Nurse, Trained Attendants, Pharmacy, Equipment, Physiotherapy and Nutrition.

</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">CADUCEUS Health Prime</div>
  <div class="card-body">
    
    <p class="card-text">CADUCEUS Health Prime is an annual Healthcare plan, in which every enrolled customer gets a dedicated Health Manager. The Health Manager will take care of all health requirements for the customer, such as Doctor visits, specialist consultations, lab test and such.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">Healthcare Plan Include</div>
  <div class="card-body">
    <h1>Free Medical Assessment</h1>
    <p class="card-text">A comprehensive lab test followed by a home visit by a senior Doctor, who will do a complete check-up of the patient.</p>
    <h2>Health Manager</h2>
    <p class="card-text">24X7 dedicated trained manager, who will coordinate with the treating Doctor, and will take of any health need of the patient.</p>
    <h3>Personalised Plan</h3>
    <p class="card-text">Depending on patients’ needs and Doctor recommendations, a complete annual healthcare plan will be made for each patient, that will include services such as:<br>

    Physiotherapy at Home<br>
    Doctor Home Visits<br> 
    Lab Test<br>
    Eye Check-up<br> 
    Dental Care<br> 
    Complete Bone Assessment<br>
    Specialist Consultations and Much More<br></p>
  </div>
</div>

{% endblock body %}