{% extends 'BoilerPlate.html' %}
{% block title %}
Counselling
{% endblock title %}
{% block body %}

<div class="card bg-dark text-white">
  <img src="/static/Counseling.jpg" class="card-img" alt="counseling">
  <div class="card-img-overlay">
    <h5 class="card-title" style="font-size: 40px">Counseling</h5>
    <p class="card-text" style="font-size: 20px;">Up until the 20th century a lot of stigma was attached with mental health and counseling, but
      with the progression of society, people have started realizing the importance of mental well being and the need
      for counseling. Now we can easily find many forums and good counseling services easily available. <br>CADUCEUS for
      one offers a highly appreciated counseling service that has brought respite to many disturbed individuals. Before
      we proceed into learning how counseling helps, it is essential to learn what exactly is counseling.</p>

  </div>
</div>
<div class="card bg-dark text-white float-right">
  <img src="https://source.unsplash.com/390x2500/?medical" class="card-img" alt="medical">
    
</div>
<div class="card text-white bg-dark mb-3 float-left" style="max-width: 70rem;">
  <div class="card-header" style="font-size: 40px">
    What Is Counseling?
  </div>
  <div class="card-body">

    <ul><li><p class="card-text" style="font-size: 20px;">Generally speaking, counseling falls in the ambit of “Talking therapy” that allows and
      encourages people to speak out about their feelings and concerns in a private and confidential environment.

      The counselor provides the person with the much needed space where the person can be themselves and speak out
      without having to sound correct, just open up about how they actually feel, without the fear of being judged or
      criticized and also without any unsolicited advice.

      This luxury of being able to speak out without any restrictions or having to conform to any norms has been found
      to be quite beneficial to a lot many individuals.

      After thoroughly understanding the person’s situation, the counselor advises him in a way that improves his
      situation.

      With the advent of technology you can easily avail of in home counseling services that too staying anonymously if
      you don’t wish to reveal yourself.

      At CADUCEUS our well trained and empathetic counselors provide anonymous support therapy through Audio and Video
      calls and at home counseling sessions also.

      Although we don’t believe that there is any shame in seeking counseling help, we do respect our client’s wishes
      and strictly adhere to it.</p></li></ul>

  </div>

  <div class="card text-white bg-secondary mb-3 float-left" style="max-width: 70rem;">
    <div class="card-header" style="font-size: 40px">
      Do We Really Need Counseling?
    </div>
    <div class="card-body">

      <ul><li><p class="card-text" style="font-size: 20px;">Counseling today plays a very significant role in the well being of an individual. We often
        hear of people ending their life, just because they couldn’t deal with their stress and frustration.

        It is important to know that we can approach someone and completely open up to them with complete
        confidentiality.

        Quite often people brush away the suggestion of seeing a counselor, as they believe that counseling is only for
        crisis situation, but they don’t realize that counseling can help with something as simple as reaching a goal.

        A counselor offers a helping hand to people who come to them irrespective of their needs and drag them out of
        their mental rut.

        Moreover it is better to seek help rather than keep quiet and suffer.

        You can always choose to stop the counseling after you feel you are fine and have made recovery.

        There is no compulsion to continue with the session if you find yourself mentally fit to lead a happy and stress
        free life.</p></li></ul>

    </div>
    <div class="card text-white bg-dark mb-3 float-left" style="max-width: 70rem;">
      
      <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">Who Needs Counselling?</h5>
       <ul><li> <p class="card-text" style="font-size: 20px;">Unarguably, we are living in a very competitive world with a lot of pressure to perform and be ‘successful’ as per the society’s standard, which often leads to undue stress in an individual.

          This stress leads to a lot of issues like depression, low self – esteem and anxiety, which if left untreated can prove to be fatal.
          
          Usually family and friends serve as our support system but there are many people who are unable to open up or explain their frustration and as such they need the help of counselor to sort out their problems.<br>Work Stress: The work environment has become a leading cause of stress in the working population owing to unrealistic pressures and deadlines set up by the company heads.
          This work frustration and stress is carried forward by individuals to their home thus, hampering their personal life too.
          Often individuals are not able to come out of this rut on their own and as such they need the help of counselors to get a clear picture and a way to overcome their current situation.
          With this refreshed perspective and renewed vigor they are better able to handle their professional and personal life.<br>Depression & Anxiety: It fills you with feeling of hopelessness besides hampering your body with changes in sleep and diet patterns.
          We help you be “yourself” again, with the help of our expert counselors.
          You can choose to stay anonymous or can take home based counseling service, where our home counselors will visit at a time and day decided by you.<br>Grief Counselling: Losing a loved one is always going to be extremely hard, but then you cannot just stop living.
          We understand that this is easier said than done and most people find themselves unable to overcome their grief. 
          For them a counseling therapy is extremely needed. Our counselors will guide you through this difficult period, allow you to grief and help you find your feet again in this world and live a happy life just as your loved one would have liked you to do. Counseling is strongly suggested for people feeling under the weather owing to the following issues.<br>Pregnancy & post-pregnancy: Taking care of that tiny bundle of joy besides taking care of career, family and everything else can get a little taxing.
          We lend you a patient ear and a positive approach to vent out your worries and enjoy motherhood.<br></p></li></ul>
          
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3 float-right" style="max-width: 70rem;">
      
      <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">How Can We Help?</h5>
        <ul><li><p class="card-text" style="font-size: 20px;">There would be lot anxiety and nervousness in the first session, however, the counselors are completely aware of that and know how to put you at ease.

          So you can be relaxed and be yourself which is the essence of the entire program.
          
          There would also be lot of question from both sides which have to be honestly answered.
          
          You can consider the counselor as your professional friend who will lend you an ear but will not be socializing with you.
          
          Some of the questions that will be asked by the counselor in the first session include;<br>
          
          Why you sought therapy?<br>
          Details about your personal history and present life<br>
          Current symptoms<br>
          Also try and shed your reservations and be open, be vocal, you too can ask questions to your counselor.
          
          And be completely honest with your feelings, in order to gain positive outcome from the counseling therapy.
          
          We provide the services of trained and empathetic counselors to conduct sessions from the comfort of your home via Audio calls, Video calls or offer home based counseling services.
          
          Overall we can only say, don’t be embarrassed of your issues there is nothing wrong with you that is causing you shame.
          
          All you need is a little nudge from experts to help you find yourself anew and lead a happy and fulfilling life.</p></li></ul>
      </div>

    {% endblock body %}