<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Caduceus</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    
</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-secondary" style="background-color: #e3f2fd;">
        <img class="float-left" src="Caduceus.png" alt="Caduceus" height="50">
        <a class="navbar-brand" href="#http://127.0.0.1:5500/Homepage.html" target="_self">Caduceus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar buttons">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Consultation</a>
                        <a class="dropdown-item" href="#">Counselling</a>
                        <a class="dropdown-item" href="#">Elder Care</a>
                        <a class="dropdown-item" href="#">Nursing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">COVID testing</a>
                        <a class="dropdown-item" href="#">Home Isolation management</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About us<span class="sr-only"></span></a>
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Blogs<span class="sr-only"></span></a>
                </li>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="button" data-toggle="modal"
                    data-target="#loginModal">Login</button>
            </form>
        </div>
    </nav>


    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Help us remember you!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                <label for="loginEmail">Email</label>
                                <input type="email" class="form-control" id="loginEmail" required>
                                <div class="invalid-feedback">
                                    Please Enter a valid email ID.
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="loginPassword">Password</label>
                                <input type="password" class="form-control" id="loginPassword" required>
                                <div class="invalid-feedback">
                                    Please enter a Password.
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Login</button>
                        <script>
                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function () {
                                'use strict';
                                window.addEventListener('load', function () {
                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card bg-success text-white">
  <img src="Nursing.jpg" class="card-img" alt="nursing">
  <div class="card-img-overlay">
    <h5 class="card-title " style="color: green">Home Nursing</h5>
    <p class="card-text" style="color: green">Looking for post-surgical care, Elderly care, Urinary catheterization care, Wound care, Injections, IV infusions, Vaccination or other nursing assistance for Cancer treatment? Get all of this, and more in the comfort of your home by highly qualified and experienced nurses. To bring an experienced nurse home, fill the form now.</p>
    
  </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Home Nursing Care Means?</div>
  <div class="card-body">
    
    <p class="card-text">Home nursing services encompasses a wide range of healthcare services that can be easily administered at your home. Home care nursing services are usually cheaper than hospitals and nursing homes, while being just as effective as the medical care offered in a hospital or nursing home.

An in-home nursing service offers personalized nursing care at home as offered in a typical hospital while being more compassionate towards the patient and gets integrated into the patient’s family and develops an emotional bond with the patient and their family.

The services offered by home care nursing are provided by registered nurses, physiotherapists and occupational therapists among others. And as such you need not worry on the quality of service offered by the home nurse.

In the past, the phrases In-Home Care, Home Care and Home Health Care were used interchangeably. Today however, people have developed a better understanding towards Home Health Care or In-Home nursing service which is basically skilled nursing care whereas the term In-Home Care refers to non-medical care services like personal care and companionship and supervision.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">When Do You Need Us?</div>
  <div class="card-body">
    
    <h1>Vaccination</h1>
    <p class="card-text">Get vaccinated at home and stay safe from infectious diseases. We provide vaccination for H1N1, Typhoid, Pneumonia, Hepatitis and more by qualified nurses at home.</p>
    <h2>Post Surgical Care</h2>
    <p class="card-text">Post-surgical care is critical, and includes everything from pain management & feeding to respiratory management & fluid management. Get well sooner under the care of our nurses, who will help you with all of this in the comfort of your home.</p>
    <h3>Urinary Catheterisation</h3>
    <p class="card-text">Our nurses are well trained and can help you with the process of Urine catheterization care at your home; be it catheter insertion, catheter removal or bladder wash.</p>
    <h4>Wound Dressing</h4>
    <p class="card-text">Did you know that the healing process varies depending on the wound type? Our nurses are experienced in handling varied types of wounds-post-operation surgical wounds, infected wounds and pressure sores and will accordingly provide appropriate wound care for a faster recovery.</p>
  </div>
</div>

    
        <!-- BOOKModal -->
        <div class="modal fade" id="bookModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel">Help us reach you!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" novalidate>
                        <div class="form-group">
                            <div class="col-md-12 mb-3">
                                <label for="bookName1">First name</label>
                                <input type="text" class="form-control" id="bookName1" value="Srikrishna" required>
                                <div class="invalid-feedback">
                                    Please let us know you better.
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="bookName2">Last name</label>
                                <input type="text" class="form-control" id="bookName2" value="Polthel" required>
                                <div class="invalid-feedback">
                                    Please let us know you better.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="bookPhone">Phone Number</label>
                                <input type="text" class="form-control" id="bookPhone" value="" required>
                                <div class="invalid-feedback">
                                    Please help us contact you.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 mb-3">
                                <label for="bookCity">City</label>
                                <input type="text" class="form-control" id="bookCity" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="bookService">Service</label>
                                <select class="custom-select" id="bookService" required>
                                    <option selected disabled value="">Choose a service</option>
                                    <option>Consultation</option>
                                    <option>Counselling</option>
                                    <option>Elder-care</option>
                                    <option>Nursing</option>
                                    <option>COVID testing</option>
                                    <option>Home Isolation Management</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid service.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="bookCheck" required>
                                <label class="form-check-label" for="bookCheck">
                                    Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                    Please agree before submitting.
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Book Now</button>
                        <script>
                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function () {
                                'use strict';
                                window.addEventListener('load', function () {
                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- BOOK BUTTON  -->
    <div class="fixed-bottom">
        <span class="align-bottom">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                data-target="#bookModal">BOOK</button>
        </span>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

</body>

</html>