{% extends 'BoilerPlate.html' %}
{% block title %}
Consultation
{% endblock title %}
{% block body %}


<div class="card bg-dark text-white">
  <img src="/static/Consultation.jpeg" class="card-img" alt="consultation" style="filter: Brightness(0.5)">
  <div class="card-img-overlay">
    <h5 class="card-title" style="font-size: 40px">Doctor Consultations</h5>
    <p class="card-text">Why wait to see a doctor, when there’s a doctor waiting to see you? The next time you or a
      loved one needs to consult with a doctor, have the doctor visit you. At home. At your convenience. To book an
      appointment with a doctor, begin here.</p>

  </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
  <div class="card-header" style="font-size: 40px">What Is An In-Home Service?</div>
  <div class="card-body">
    <p class="card-text" style="font-size: 20px;">Every once in a while, you’re bound to need to consult with a doctor for general health
      check-up, seasonal fever, acute diseases, chronic illness, and more. It many situations, we are physically weak
      and prefer to stay at home and even a visit to a doctor seems an uphill task. If given an option we would rather
      prefer a doctor to give us a visit, rather than we having to visit him personally.

      To fill this void, CADUCEUS has begun to provide healthcare service at home and that too at reasonable costs
      compared to traditional hospitals and nursing homes. The home visit doctors are qualified professionals and
      provide consultation to treatment and help you throughout your recovery process. The best part about in-home
      doctor service is you will be treated in the comfort of your home, surrounded by your family members.</p>
  </div>
</div>
<div class="card bg-dark text-white float-right">
  <img src="https://source.unsplash.com/400x3700/?medical" class="card-img" alt="medical">
    
</div>
<div class="card text-white bg-secondary mb-3 float-left" style="max-width: 60rem;">
  <div class="card-header" style="font-size: 40px">When Do You Need Us</div>
  <div class="card-body">
    <h1>General Checkup</h1>
    <ul><li><p class="card-text" style="font-size: 20px;">It’s a good practice to keep a check on your health. Regular health check-ups are essential for
      children and the elderly. Call a CADUCEUS doctor home and stay rest assured about your family’s health.</p></li></ul>
    <h2>Diabetic Care</h2>
    <ul><li><p class="card-text" style="font-size: 20px;">A Diabetic patient requires regular monitoring of blood pressure and blood sugar levels. Apart
      from that, a doctor’s consultation is also a must once every three months. So skip the arduous travel and waiting
      period at the Doctor’s clinic and just book with us a doctor’s appointment. A well experienced doctor will guide
      you through your diet and proper medication.</p></li></ul>
   <h3 style="font-size: 32px;">Ortho Care</h3>
    <ul><li><p class="card-text" style="font-size: 20px;">A Doctor’s home visit service is very useful for people ailing of orthopedic conditions like
      fractures, joint replacements, spinal deformities, arthritis etc. Many of these patients are unable to move
      properly and not able to get out of their home and lead a restrictive life. Use the CADUCEUS app or website to book
      an appointment and allow us to send one of the best doctors to help you get rid of your pain with a range of
      home-based health care services.</p></li></ul>
      
      <h4 style="font-size: 32px;">Post-Hospitalization Cardiac Care</h4>
      <ul><li><p class="card-text" style="font-size: 20px;">Post hospitalization is a critical period more so in the case of heart patients. A lot can go wrong if proper care and medication is not followed through. To help you in this stressful period there are doctors and allied health professionals that bring the best of health care at your doorstep. So just allow us to free you of your worries with our in-home doctor service.</p></li></ul>
      <h5 style="font-size: 32px;">Post-Hospitalization Neuro Care</h5>
      <ul><li><p class="card-text" style="font-size: 20px;">As in the case of heart patients, a nervous system disorder is also quite worrying and requires utmost care and regular medical follow through. This period can be extremely taxing for family members. Call us or book an appointment online and get an experienced doctor from CADUCEUS to take care of you at your home.</p></li></ul>
      <h6 style="font-size: 32px;">Home-Based Oncological Care</h6>
      <ul><li><p class="card-text" style="font-size: 20px;">We understand how difficult and stressful it is when a loved one is diagnosed with cancer. To help you in this difficult period we’ll do whatever it takes to provide the cancer patient a better quality of life. So don’t hesitate and get home-based oncology care and advice from an experienced doctor, in the comfort of home.</p></li></ul>
      
  </div>
</div>
<div class="card text-white bg-dark mb-3 float-left" style="max-width: 60rem;">
  
  <div class="card-body">
    <h5 class="card-title" style="font-size: 40px;">Patient Stories-How Kanchan Arora Found Help In CADUCEUS?</h5>
   <ul><li> <p class="card-text" style="font-size: 20px;">We engaged CADUCEUS in 2017 so that our mother, Kanchan Arora, could have medical care from a doctor who would visit her at home and take charge of supervising her overall health. 
      We were very lucky in being assigned Dr Shabnam Mir. Not only is Dr Shabnam skilled and competent, she has the sort of calm manner that I wish all doctors everywhere in the world had. She is consistently patient, kind, compassionate and humane. Besides, she is accessible at all times and never makes us feel we are imposing on her when we whatsapp message or call her with a question. She is always quick to respond.
      Our mother looks forward to her monthly visits and that says a lot for the kind of doctor that Dr Shabnam is. It is almost as though a friend were dropping in. Psychologically, she does wonders for our mother and many is the time Dr Shabnam has talked her/us through a problem and calmed her down. Our mother recently said that she was lucky to have Dr Shabnam in her life, since she could call her any time she had a medical concern.
      Dr Shabnam’s cheerful and lively personality enhances her professional expertise.
      On behalf of my siblings and mother, I thank Dr Shabnam and Port
      ea for the quality of care and the psychological boost that Dr Shabnam provides for our mother.</p></li></ul>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
    
    <div class="card-body">
      <h5 class="card-title" style="font-size: 40px;">How Can We Help?</h5>
      <ul><li><p class="card-text" style="font-size: 20px;">Our doctors work from home, ‘Your home’. They assess, diagnose and treat you depending on your need. Our general physicians have years of experience in the medical field and will treat you with patience and compassion.</p></li></ul>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
      
      <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">Benefits Of In-Home Doctor Service:</h5>
        <ul><li><p class="card-text" style="font-size: 20px;">With the presence of highly busy lifestyle in today’s life in – home doctor service is increasingly becoming the norm of the day. Not only does the doctor on call service saves time it is also convenient to do the booking online. Find doctors near me or doctor on call through Portea and let them pay you a visit at the comfort of your home. Few of the benefits of doctor visit at home are as follows”<br>

          The first benefit of doctor visit at home that instantly comes to mind is the availability of quality medical care at the comfort of your home.<br>
          The doctor consultation charges are lower or at par with the hospital visit charges, so you not only save on travelling but also on your medical bills.<br>
          The home doctor gives a more personal medical care to the patient and is far more compassionate towards the patient.<br>
          Research has found out that a patient tends to recover sooner in a familiar surrounding than in a hospital.<br>
          Not all illness needs hospitalization but owing to lack of support at home, patients inadvertently end up at nursing homes and hospitals for medical care. It is in those cases that the home visit doctor proves to be highly beneficial, as they can easily provide medical attention at home.<br>
          The doctors on call service are available 24/7 and as such you are guaranteed to get quality health care even at odd hours and on any given day.<br>
          Home visit doctors are a boon for old people, as they are the ones who need medical attention the most and are also the one who have the most difficulty in travelling.<br></p></li></ul>
      </div>
    </div>
    <div class="card text-white bg-secondary mb-3" style="max-width: 100rem;">
      
      <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">Cost Of Doctor Video Consultation Service</h5>
        <ul><li><p class="card-text" style="font-size: 20px;">With the advent of technology numerous healthcare apps and websites have come in to existence that not only offer home health care but also assist the hospitals in improving the health care scenario in the country.

          The most reliable of them all is CADUCEUS that has tie – ups with major hospitals to provide home health care. The doctors and other allied health professionals at Portea™ are highly trained individuals and offer the best of medical care at home.
          
          This unique medical initiative India is not only gaining ground but is also known for their value of money services. The cost of in – home doctor visit is lower or at par when compared with the regular hospital charges. The average doctor consultation fee will be affordable and won’t burn a hole in your pocket.</p></li></ul>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 100rem;">
        
        <div class="card-body">
          <h5 class="card-title" style="font-size: 40px;">What To Expect From General Physician In India:</h5>
          <ul><li><p class="card-text" style="font-size: 20px;">The chief purpose of in – home doctor also know as generic physician service is to provide primary diagnostics and if and when needed prescribe blood, urine and/or other tests to the polyclinic. The entire service is designed to provide primary health care, post – hospitalisation care and chronic disease management and allied services at the comfort of a patient’s home.

            The Generic physician visit you after you have made the necessary doctor appointment online on Portea or have taken a package as per the medical plan and subscription.</p></li></ul>
        </div>
      </div>
{% endblock body %}